@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-image: linear-gradient(to left, #6CC43D, #50912D, #2E7A06);
    min-height: 100vh;
    width: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Box */
#car-details {
    background-color: #fff;
    border: 1px solid #000;
    width: 20%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

/* Preenche dados */
#car-details input {
    padding: 5px;
    border: 2px solid gray;
    border-radius: 5px;
}

#car-details input,label {
    width: 90%;
    margin: 5px;
}

/* Botão */
#car-details #cadastrar {
    padding: 10px;
    font-weight: bold;
    border: 0;
    border-radius: 15px;
    margin-top: 8px;
    background-color: #1B4704;
    color: white;
    border: 1px solid #000;
}

#cadastrar:hover, .delete:hover {
    cursor: pointer;
}

.delete {
    background-color: red;
    color: darkred;
    width: 25px;
    height: 25px;
    border: 0;
    font-size: 1.2rem;
    font-weight: bold;
    border: 1px solid #000;
}

/* Tabela */
#car-data {
    overflow-x: auto;
    /*Responsivo*/
    margin-top: 15px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: center;
}

#car-data table {
    padding: 10px;
}

